Nama: Agil Rahmat

NIM: 2106037

In [26]:
import pandas as pd

#Import dataset
dataset = pd.read_csv('WifiUser.csv')

#Tampilkan 5 baris pertama dari dataset
print(dataset.head())

#cek jumlah missing values pada kolom
print(dataset['Youtube'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Youtube'].fillna('N',inplace=True)

#cek kembali jumlah missing values pada kolom
print(dataset['Youtube'].isna().sum())

#cek jumlah missing values pada kolom
print(dataset['Baca_berita'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Baca_berita'].fillna('N',inplace=True)

#cek kembali jumlah missing values pada kolom
print(dataset['Baca_berita'].isna().sum())

#cek jumlah missing values pada kolom
print(dataset['Whatsapp'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Whatsapp'].fillna('N',inplace=True)

#cek kembali jumlah missing values pada kolom
print(dataset['Whatsapp'].isna().sum())

#cek jumlah missing values pada kolom
print(dataset['Jaringan_sosial'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Jaringan_sosial'].fillna('N',inplace=True)

#cek kembali jumlah missing values pada kolom
print(dataset['Jaringan_sosial'].isna().sum())

#ubah nilai yang tidak konsisten pada atribut
dataset['Instagram'].replace(['81'],['N'],inplace=True)

#Tampilan hasil perubahan
print(dataset['Instagram'].value_counts())

  Jenis_Kelamin        Nama_User  Tahun_lahir Tingkatan  Bulan_lahir  \
0             P       Dinda Aini         1992         M            8
1             P      Dina Jamila         1985         L           11
2             L  Rifki Jalaludin         1997         L            6
3             L     Yusuf Basith         2001         H            8
4             P     Rima Arianti         1994         M            2

   Tanggal_lahir Wifi_Name Penggunaan_Search Email_User Baca_berita Facebook  \
0              1  Indihome            Chrome      Yahoo           Y        N
1              2    iconet            Chorme    Hotmail           Y        N
2              2  Indihome          Mirosoft      Yahoo           Y        Y
3              6  Indihome            Chorme    Hotmail           N        Y
4             23    Biznet             Opera    Hotmail           Y        Y

  Whatsapp Youtube Instagram Jaringan_sosial
0        N       Y         N             NaN
1        N       Y         N             NaN
2      NaN       Y         N             NaN
3        N       N         Y             NaN
4        N       Y        N              NaN
0
0
1
0
3
0
7
0
N     6
Y     2
N     1
Name: Instagram, dtype: int64